*.swp
/out
/bin

*.ipr
*.iml
*.iws
idea
/lib
/doc

stacktrace.log

/idea-target
target
/build

.gradle
.DS_Store
.classpath
.project
.settings

/*/build/*
/*/.settings/*

/*/out/*

/*/*.iml
/eclipse-build

/*/.idea/*
.idea
/*/atlassian-ide*

*.log
*.log.*
.gitignore
